{% extends "base.html" %}



{% block content %}




<form  id="post-form" action="{% url 'test_submit' %}" method="POST">
    {% csrf_token %}
         {{ form }}
    <button  class="cd-popup-trigger" type="submit">DO IT</button>
</form>




<div class="cd-popup" role="alert">
  <div class="cd-popup-container">
    <p id="output" >Are you sure you want to delete this element?</p>
  </div>
</div>



<script src="static/jquery-3.2.1.min.js"></script>
<script> // Добавил тегом <script> из-за csrf_token

$('#post-form').on('submit', function(event){
event.preventDefault();
console.log("form submitted!");
create_post();
});

function create_post() {

  $.ajax({ // решил делать на jqery, потому что он и так уже у нас в проекте
    url : "{% url 'test_submit' %}",
    type : "POST",
    data : {  text: $('#id_text').val(),
              integer: $('#id_integer').val(),
              email: $('#id_email').val(),
              'csrfmiddlewaretoken': '{{ csrf_token }}'},

    success : function(data) {
      if (data.status === "success") {
        $('#output').html(data.data)
      }
      else {
        for(var key in data.data) {
          $('#output').html(data.data[key]);
        }
      }
      showPopUp()
    },

    error : function(xhr,errmsg,err) {
      console.log(xhr);
      console.log(errmsg);
      console.log(err);
    }

  });
}

function showPopUp(){
  $('.cd-popup').addClass('is-visible');
};


$('.cd-popup').on('click', function(event){
  if($(event.target).is('.cd-popup') ) {
    event.preventDefault();
    $(this).removeClass('is-visible');
  }
});

$(document).keyup(function(event){
  if(event.which=='27'){
    $('.cd-popup').removeClass('is-visible');
  }
});

</script>




    <!--- Форма со свойствами text, integer, email. Нужно реализовать Ajax-om отправку и обработку данных
    на endpoint 'test_submit' на который отправляется и сейчас. Ответ приходит в виде JSON обьекта {"status": "success"/"error",
    "data": data} где data это текстовое значение(text прописанный integer раз), или словарь ошибок (ошибка воспроизводится если ввести
    латинский символ "а" в поле text). Реализовать с помощью всплывающего по середине черного окна с округленными углами
     с прозрачностью 50% которое закрывается нажатием мыши вне окна -->
{% endblock %}
